<div class="header">
  <h1>Album Photo 2017</h1>
  <p>Quelques photos souvenirs</p>
</div>

<!-- Photo Grid -->
<div class="row">
  <div class="column">
    <img src="../../assets/Album-2017/photo-1000.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1001.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1002.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1003.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1004.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1005.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1006.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="../../assets/Album-2017/photo-1000.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1003.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1006.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1005.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1004.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1001.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="../../assets/Album-2017/photo-1002.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1005.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1006.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1003.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1000.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1001.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1004.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="../../assets/Album-2017/photo-1003.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1005.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1006.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1003.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1002.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1001.jpg" style="width:100%">
    <img src="../../assets/Album-2017/photo-1004.jpg" style="width:100%">
  </div>
</div>
