<!--The content below is only a placeholder and can be replaced.  app.component.html-->

<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        Espoire du Sud
      </li>
      <li>
        <a class="sidebar-brand" routerLink="/Accueil">Accueil</a>
      </li>
      <li>
        <a routerLink="/Actualite">Actualité</a>
      </li>
      <li>
        <a routerLink="/NosActions">Nos Actions</a>
      </li>
      <li>
        <a routerLink="/Videos">Videos</a>
      </li>
      <li>
        <a routerLink="/Event">Evenements</a>
      </li>


      <li >
        <a routerLink="/AlbumPhoto">Album Photos</a>
        <ul class="nav-dropdown" id="li-toggle">
          <li><a routerLink="/AlbumPhoto">Album photos-2018</a></li>
          <li><a routerLink="/AlbumPhoto">Album photos-2017</a></li>
          <li><a routerLink="/AlbumPhoto2012">Album photos-2012</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/Contact">Contact</a>
      </li>
      <li>
        <a routerLink="/Admin">Admin</a>
      </li>
      <li>
        <a routerLink="/SingUp">Authentification</a>
      </li>

    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- last step Routed views go here -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1></h1>
      <div class="row">
        <div class="col-sm-1"> <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a></div>
        <div class="col-sm-2">
          <ngbd-modal-basic></ngbd-modal-basic>
        </div>
        <div>
          <div *ngIf="authService.currentUser">
            <h4>
              <strong>Vous êtes connecter :</strong> {{ authService.currentUserName }}  <button class="btn btn-secondary" (click)="logout()">Logout</button>

            </h4>

          </div>

        </div>
        <div class="col-sm-6">
          <p class="font-weight-bold h2">Association Espoire du Sud</p>
        </div>
      </div>
    </div>

  </div>
  <router-outlet></router-outlet>


</div>
