<!-- Navigation -->


    <div class="container">
          <h2 class="text-center text-uppercase">Notre mission</h2>
    </div>
<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="../../assets/Accueil/Cooperation.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Coopération...</h2>
          <p>Agir sur le terrain en faveur du développement durable et de la coopération internationale</p>
          <p>Favoriser l'aventure culturelle et les rencontres interculturelles au niveau local et national</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="../../assets/Accueil/developpement.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Developpement!</h2>
          <p>Promouvoir et développer diverses activités culturelles, éducatives, sociales et sportives</p>
          <p>Permettre l’intégration des personnes</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="../../assets/Accueil/rencontre.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Rencontre!</h2>
          <p>Permettre à la communauté d’Irsmouken résident à l’étranger de mieux se connaitre et se rencontrer à travers les activités organisées</p>
          <p>Assurer le lien entre les habitants et les autorités pour défendre leurs intérêts en toutes circonstances</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 order-lg-1">
    <div class="p-5">
      <h2 class="display-4">Pour nous suivre</h2>
      <a href="https://www.facebook.com/espoir.dusud" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="https://www.youtube.com/results?search_query=espoir+du+sud" class="fa fa-youtube"></a>
    </div>
  </div>
</section>
